<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="post">

    <h1>Edit Drone <i>{{drone.name}}</i></h1>
    <label for="name">Name: </label>
    <input type="text" name="name" value="{{drone.name}}">

    <label for="propellers">Propellers: </label>
    <input type="text" name="propellers" value="{{drone.propellers}}">

    <label for="maxSpeed">Max Speed: </label>
    <input type="text" name="maxSpeed" value="{{drone.maxSpeed}}">

    <button>Edit drone</button>

</form>